*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #f0f8ff;
    padding: 20px;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}
.buttons {
    margin-top: 10px;
}
.buttons button {
    background: #fefdfd;
    color: #020202;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
    box-shadow: white;
}
.buttons button:hover {
    box-shadow: 0 0 5px rgb(253, 254, 253),
    0 0 25px rgb(247, 249, 247), 0 0 50px rgb(251, 253, 252),
    0 0 100px rgb(249, 250, 249), 0 0 200px rgb(246, 248, 246);
}

.loginDetails {
    display: block;
}
.registerDetails {
    display: block;
}

.courses{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;  
}
.course-a {
    background-color: #ffffff;
    border: 2px solid #03fe0b;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 30%;
    box-shadow: 0 4px 8px rgb(3, 250, 3);
    transition: transform 0.3s;
}
.course-a:hover {
    transform: scale(1.05);
}
.price {
    font-size: 24px;
    color: #f50505;
}
.course-name {
    font-size: 20px;
    color: #00ff26;
}
.choose-btn {
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    background: rgb(0, 255, 34);
    text-decoration: none;
    margin-top: 10px;
    box-shadow: rgb(0, 255, 17);
    
}
.choose-btn:hover {
    box-shadow: 0 0 5px rgb(4, 247, 65),
    0 0 25px rgb(4, 247, 40), 0 0 50px rgb(4, 247, 57),
    0 0 100px rgb(4, 247, 4), 0 0 200px rgb(1, 246, 33);
}
.course:hover {
    transform: translateY(-5px);
}
.student-details {
    background-color: #ffffff;
    border: 2px solid #03fc0c;
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgb(1, 252, 1);
}
.student-details h2 {
    margin-bottom: 20px;
    color: #04fd29;
}
.student-details label {
    display: block;
    margin: 10px 0 5px;
}
.student-details input,
.student-details select,
.student-details textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.language-options {
    margin: 10px 0;
}
.radio{
    margin: 10px;
}
.student-details button {
    background: aqua;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: aqua;
}
.student-details button:hover {
    box-shadow: 0 0 5px rgb(1, 244, 253),
    0 0 25px rgb(1, 234, 251), 0 0 50px rgb(3, 245, 245),
    0 0 100px rgb(4, 227, 247), 0 0 200px rgb(4, 239, 247);
}
.output{
    background-color: #05fce8;
    border: 2px solid #080808;
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgb(1, 252, 1);
}
.student-details{
    display: block;
}